<div id="block">
    <h1>Blocks View</h1>
    <div class="block-container">
        <div ng-repeat="file in block.files track by $index" class ="block-image-container"><span class="remove" ng-click="block.remove($index)">x</span>
            <img ng-src={{file.preview}} class="image-view">
            <span class="image-info">Image Name: {{file.imageName}}</span>
            <span class="image-info">User: {{file.uploadedUser}}</span>
            <span class="image-info">Size: {{file.fileSize / 1024 | number:2}} kb</span>
            <div class="checksum">{{file.checksum}}</div>
        </div>
    </div>
    <a ui-sref="table">Table View</a>
    <a ui-sref="upload">Image Upload</a>
</div>
