<div id="signin">
    <h1>Sign in with your Account</h1>
    <form name="form" ng-submit="signin.login(); form.$setPristine()" role="form" novalidate>
        <div class="email">Email</div>
        <input type="email" name="email" id="email" class="form-control" ng-model="signin.email" required />
        <span ng-show="(form.email.$invalid || form.email.$error.required) && form.email.$dirty" class="help-block">Must be a valid email address: handle@domain format</span>
        <div class="password">Password</div>
        <input type="password" name="password" id="password" class="form-control" ng-model="signin.password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        <button type="submit" ng-disabled="form.$invalid" class="sign-btn">Submit</button>
    </form>
    </div>
<div ng-if="signin.loginErrorMessage" class="login-error">{{signin.loginErrorMessage}}</div>
