<div id="upload">
<h1>Image Upload</h1>
<div class="uploader">
   <h3>Upload Image</h3>   

   <div class="dropzone-wrapper">
      <input type="file" placeholder="DropZone Click or drop images"  class="file-drop-zone" file-dropzone="[image/png, image/jpeg, image/gif]" files-to-upload="files">
      <div class="drop-zone">DropZone</br>Click or drop images</div>
   </div>     
   
   <div class="images-to-upload">
       <div ng-repeat="file in files" class ="upload-image-container"><span class="remove" ng-click="upload.remove(files, $index)">X</span>
          <img ng-src={{file.preview}} class="image-preview">
          <span>Image Name: {{file.imageName}}</span>
          <span>Size: {{file.fileSize / 1024 | number:2}} kb</span>
       </div>
   </div>
   <div class="uploader-buttons">
       <button class="clear-button" ng-click="files=[];">Clear All</button>
       <button class="save-button" ng-click="upload.save(files); files=[];">Save</button>
   </div>
</div>
<a ui-sref="block">Block View</a>
<a ui-sref="table">Table View</a>
<a ui-sref="signin">Sign In</a>
</div>

